<html>
  <head>
    <title>Album Created</title>
  </head>
  <body>
    <h3><a href="/albums">Back to Albums</a></h3>
    <h1>You Added Album: <%= @album.title %></h1>
    <a href="/albums/new"><button>Create Another Album</button></a>
  </body>
</html>