<html>
  <head>
    <title>Artist Created</title>
  </head>
  <body>
    <h3><a href="/artists">Back to Artists</a></h3>
    <h1>You Added Artist: <%= @artist.name %></h1>
    <a href="/artists/new"><button>Create Another Artist</button></a>
  </body>
</html>